* {
    box-sizing: border-box;
}

body {
     background-color: hsl(212, 45%, 89%);
     max-width: 1440px;
}

.wrapper {
    width:  100%;
    margin: 0 auto;

}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    width: 50px;

}

.qr-code {
    height: 50px;
    flex: 1;

}

.main-title {
    flex: 1 0 50px;

}

.second-part {
    flex: 1 0 50px;
}


